
<div class="link"> 
<form class="temp" action="/show">
    <input type="submit" value="show all" />
</form>
 
<form class="temp" action="/">
    <input type="submit" value="home" />
</form>
 
<form class="temp" action="/first">
    <input type="submit" value="register yourself" />
</form>

<form class="temp" action="/login">
    <input type="submit" value="login" />
</form>

</div>